h1 {
    color: rgb(235, 224, 208);
    font-family: sans-serif;
    font-weight: 400;
}

* {
    border: solid;
} 

.Header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.menu{
    color:beige;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

.description{
    background-color: burlywood;
    color: rgb(122, 120, 110);
}

p,h2{
    text-align: center;
}